.blockees {
	margin: 0 auto 0 auto;
	padding-top: 1.5em;
	height: ~"calc(100% - 295px)";
	display: block;
	overflow: auto;
	.listWrapper {
		width: @blockeesWidth + 20;
		margin: auto;
	}
	.listItem {
		color: @darkGrey;
		margin: 0;
		width: @blockeesWidth;
		position: relative;
		text-align: center;
		padding: 5px;
		border-bottom: 1px solid @offWhite;
		&:last-of-type {
			border-bottom: none;
			padding-bottom: 1.5em;
		}
		button {
			color: @grey;
			float: right;
			visibility: hidden;
			border: none;
			background: transparent;
			&:hover {
				color: @darkGrey;
			}
			&:focus {
				outline: 0;
			}
			&:disabled .cross {
				visibility: hidden;
			}
		}
		&:hover {
			button {
				visibility: visible;
			}
		}
		.cross:after {
			position: absolute;
			right: 6px;
			bottom: 0px;
			content: '\2573';
			line-height: 29px;
			font-size: 12px;
		}
	}
}

@import './constants.less';
