.timer {
	width: 100%;
	position: absolute;
	bottom: @bottomBarHeight;
	box-shadow: 0 -2px 4px @offWhite;
	background: @brightWhite;
	input {
		background: @offWhite;
		position: relative;
		width: @timerWidth;
		color: transparent;
		left: 50%;
		margin-top: 15px;
		margin-left: -@timerWidth/2;
		text-align: center;
		direction:rtl;
		border: none;
		border-radius: @borderRadius;
		text-shadow: 0 0 0 @darkGrey;
		font-size: @adderButtonFontSize;
		&:focus {
			outline: none;
			outline-color: gray;
		}
	}
	input:disabled {
		background-color: transparent;
	}
}

@import './constants.less';
